<!-- Elemento de fundo para efeitos visuais -->
<app-header-geral></app-header-geral>
<section>
  <div class="background"></div>
    <form id="form_cadastro">
      <h1 class="font-weight-bold">Cadastro</h1>
      <!-- Campo de entrada para o nome -->
      <div class="text_cadastro">
        <label for="nome">Nome</label><br />
        <input type="text" id="nome" placeholder="Seu nome" />
      </div>

      <!-- Campo de entrada para o e-mail -->
      <div class="text_cadastro">
        <label for="email">Email</label><br />
        <input type="email" id="email" placeholder="abc@gmail.com" />
      </div>

      <!-- Campo de entrada para a senha -->
      <div class="text_cadastro">
        <label for="senha">Senha</label><br />
        <input type="password" id="senha" placeholder="*********" />
      </div>

      <!-- Termos de uso -->
      <div class="text_cadastro termo_uso">
        <label>
          Ao se inscrever, você concorda com a <a href="#">política de privacidade</a> e os <a href="#">Termos de
            uso</a> da NutrifAI
        </label>
      </div>

      <!-- Botão de submissão -->
      <div class="text_cadastro div-btn">
        <input class="btnRegistrar" type="submit" value="Registrar"/>
      </div>

      <label class="conta">Já tem uma conta? <a class="text_login" href="/login" id="login">Entrar</a></label>
    </form>
</section>
