<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="cadastro.component.css" media="screen" />
    <title>Assinaturas</title>
  </head>
  <body>
    <header class="menu">
        <img src="../../assets/files/Features.png" alt="Features">
        <nav>
            <ul>
                <li><a href="../../index.html">Sobre Nós</a></li>
                <li><a href="#contact">Recursos</a></li>
                <li><a href="../assinatura/assinatura.component.html" id="assinatura">Assinatura</a></li>
            </ul>
        </nav>
    </header>    
    
    <div class="background"></div>
    
    <main class="content">
        <section id="form2">
            
            <h1>Cadastro</h1>
            <form>
                <div class="text_login">
                    <label>Nome</label><br>
                    <input type="text" placeholder="Seu nome">
                </div>

                <div class="text_login">
                    <label>Email</label><br>
                    <input type="email" placeholder="abc@gmail.com">
                </div>

                <div class="text_login">
                    <label>Senha</label><br>
                    <input type="password" placeholder="...........">
                </div>

                <div class="text_login">
                    <label>Confirme a Senha</label><br>
                    <input type="password" placeholder="...........">
                </div>

                <div class="text_login">
                    <label class="termo_uso">
                        Ao se inscrever, você concorda com a <a href="#">política de privacidade</a> e os <a href="#">Termos de uso</a> da NutrifAI
                    </label>
                </div>

                <div class="text_login">
                    <input type="submit" value="Registrar">
                </div>
            </form>

            <div class="text_login">
                <label>Já tem uma conta? </label><a href="../login/login.component.html" id="login">Entrar</a>
            </div>

            
        </section>

    </main>

  </body>
</html>
