/* Estilo global para a fonte */
* {
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Estilo do corpo */
  body {
    margin: 0;
    display: flex;
    height: 100vh;
    position: relative;
  }
  
  /* Estilo do cabeçalho */
  header {
    position: absolute;
    width: 100vw;
    background: url('../../../public/Rectangle 20.png') no-repeat center / cover;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
  }
  
  header img {
    max-width: 30%;
    height: auto;
    margin: 0 3vw;
  }
  
  /* Navegação do menu */
  .menu nav {
    display: flex;
    align-items: center;
  }
  
  .menu nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .menu nav ul li a {
    text-decoration: none;
    font-size: 2vh;
    color: #616161;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo do conteúdo principal */
  .content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
    margin-top: 8vw;
    position: relative;
    z-index: 5;
  }
  
  /* Elemento de fundo */
  .background {
    width: 70vw;
    height: 100vh;
    background-image: url('../../../public/Wallpaper_.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  /* Estilo do formulário */
  form {
    width: 100%;
    max-width: 500px;
    position: relative;
    z-index: 9;
  }
  
  form label {
    font-size: 2vh;
  }
  
  /* Estilo dos elementos de entrada */
  .text_cadastro {
    margin-top: 4vh;
  }
  
  .text_cadastro input[type="email"],
  .text_cadastro input[type="text"],
  .text_cadastro input[type="password"] {
    width: 100%;
    min-height: 3.3vh;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
  }
  
  /* Estilo do botão de submissão */
  .text_cadastro input[type="submit"] {
    font-size: 2vh;
    min-width: 80%;
    min-height: 4vh;
    border: 1px solid green;
    background-color: darkgreen;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5vh;
    cursor: pointer;
  }
  
  /* Estilo dos links */
  .text_cadastro a {
    color: darkgreen;
  }
  
  /* Estilo dos termos de uso */
  .termo_uso {
    font-size: 1.5vh;
    text-align: center;
  }
  
  /* Estilo do formulário de cadastro */
  #form_cadastro {
    border: 1px solid lightgreen;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  }
  
  #form_cadastro h1 {
    text-align: center;
    font-size: 4vh;
  }
  