<section class="team_section layout_padding">
    <div class="container mx-auto">
        <div class="heading_container heading_center">
            <h2>
                Adote <img src="NutrifAI Logo.png" alt="NutrifAI"> em sua rotina!
            </h2>
        </div>
        <div class="team_container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="salada.png" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5 class="titulo-rotina">
                                Encontre a dieta ideal para você
                            </h5>
                            <p class="texto-rotina">
                                Encontre uma dieta nutritiva que se encaixa no seu estilo de vida e preferências
                                alimentares. Assuma o controle dos seus hábitos diários com a ajuda da nossa IA, que
                                cria cardápios personalizados e oferece acesso fácil à nutrição.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="frutas.png" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5 class="titulo-rotina">
                                Tenha uma dieta sustentável
                            </h5>
                            <p class="texto-rotina">
                                Nossa IA cria cardápios sob medida para você e seleciona apenas marcas comprometidas
                                com a sustentabilidade. Transforme sua alimentação com escolhas inteligentes e
                                conscientes para um futuro mais verde.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="sucos.png" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5 class="titulo-rotina">
                                Descubra e aprenda receitas
                            </h5>
                            <p class="texto-rotina">
                                Explore uma variedade de opções e encontre pratos deliciosos e saudáveis, todos
                                adaptados às suas necessidades. Deixe que nossa tecnologia facilite suas escolhas
                                culinárias e enriqueça seu cardápio com novas ideias saborosas e nutritivas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="vitaminas.png" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5 class="titulo-rotina">
                                Comece sua jornada saudável!
                            </h5>
                            <p class="texto-rotina">
                                Descubra uma maneira inovadora de transformar sua alimentação com o NutrifAl.
                                Facilite suas escolhas alimentares e comece uma jornada mais saudável e consciente
                                hoje mesmo!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>