<nav class="nav">
    <div class="nav-logo">
        <a routerLink="/inicio"><img src="NutrifAI Logo.png" alt="Logo da NutrifAI" /></a>
    </div>

    <div class="nav-menu" id="navMenu">
        <ul>
            <li><a routerLink="/sobre" fragment="sobre" class="link">Equipe</a></li>
            <li><a routerLink="/inicio" fragment="footer" class="link">Recursos</a></li>
            <li><a routerLink="/assinatura" class="link">Assinatura</a></li>
        </ul>
    </div>

    <div class="nav-button">
        <button routerLink="/login" class="btn white-btn" id="loginBtn">Entrar</button>
        <button routerLink="/cadastro" class="btn" id="registerBtn">Cadastrar</button>
    </div>
    <div class="nav-menu-btn">
        <i class="bx bx-menu"></i>
    </div>
</nav>