main {
    flex: 1;
    display: flex;
    columns: 2;
    justify-content: center;
    position: relative;
    z-index: 5; /* O z-index está bem aqui para a estrutura */
    margin-left: 10vw; /* Ajusta a posição */
    margin-top: 5vw;
}

main h1,h2,p{
    font-family: Open Sans;
}

main img{
    width: 40vw;
    margin-top: 1.5vw;
}

main section{
    margin-top: 5vw;
    width: 40vw;
}

main h1{
    font-size: 1.5rem;
    margin-bottom: 1vw;
}

main p{
    font-size: 1.2rem;
}

section{
    text-align: justify;
}

.nutricionista{
    height: auto;
    border-left: 1px solid gray;
    padding-left: 3vw;
}

.horarios_nutricionistas button {
    font-size: 1rem;
    border: 1px solid #cc00ff;
    background-color: black;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4); 
}

.horarios_nutricionistas ul{
    list-style: none;
}

.horarios_nutricionistas ul{
    display: flex;
    align-items: center;
}

.horarios_nutricionistas li{
    margin-left: 1vw;
}
