<section class="nutri_section layout_padding">
    <div class="nutricionista_area">
        <div class="nutricionista_bg_box">
            <div class="bg_img_box">
                <img src="area-verde.png" alt="">
            </div>
        </div>
        <div class="container mx-auto">
            <div class="row justify-content-center align-items-center">
                <!-- Usando justify-content e align-items -->
                <div class="col-md-6"> <!-- Centraliza texto na coluna -->
                    <img class="texto-nutri" src="heading.png" alt="">
                    <p>Nossa equipe de nutricionistas especializados está aqui para ajudá-lo a alcançar seus
                        objetivos de saúde e bem-estar. Nossos nutricionistas são profissionais altamente treinados
                        e qualificados, com um profundo conhecimento da ciência da nutrição e de como ela pode
                        impactar seu corpo e mente.</p>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <!-- Flexbox para alinhar verticalmente -->
                    <div class="img-box">
                        <img class="img-nutri" src="Nutricionista.png" alt="Imagem Nutricionista">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>