<nav class="nav">
    <div class="nav-logo">
        <a routerLink="/inicio"><img src="NutrifAI Logo.png" alt="Logo da NutrifAI" /></a>
    </div>
    <div class="nav-menu" id="navMenu">
        <ul>
            <li><a routerLink="/diet" class="link">Dietas</a></li>
            <li><a routerLink="/nutricionista" class="link">Nutricionistas</a></li>
        </ul>
    </div>
    <div>
        <ul>
          <li>
            <div class="user-container">
              <img src="userIcon.png" class="profile" />
              <label for="name" class="nome-usuario">Seu Perfil</label>
            </div>
            <ul>
              <li class="sub-item">
                <p (click)="logout()"><img src="logout.png" class="icon"/>Logout</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>      
    <div class="nav-menu-btn">
        <i class="bx bx-menu" onclick="myMenuFunction()"></i>
    </div>
</nav>