<body class="sub_page">
  <app-header></app-header>
  <!-- team section -->
  <section class="team_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="">
          Nosso <span class="textoVerde"> Time</span>
        </h2>
      </div>

      <div class="team_container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="linkedInAna.png" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Ana Eduarda
                </h5>
                <p>
                  Project Manager
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="linkedInHaron.png" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Haron Terentin
                </h5>
                <p>
                  Developer
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="linkedInIsabella.png" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Isabella Couto
                </h5>
                <p>
                  Developer
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="linkedInNicolas.png" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Nicolas Alexander
                </h5>
                <p>
                  Developer
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>