<app-header-geral></app-header-geral>
<section class="content">
    <h1>Dieta Gerada por Inteligência Artificial</h1>
    <div class="search">
        <input type="search" placeholder="Search">
    </div>
    <div id="infos">
        <table>
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Objetivo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">Sem dados disponíveis</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>