<app-header-geral></app-header-geral>
<section class="content-dietas">
    <h1>Dietas geradas por Inteligência Artificial</h1>

    <div id="infos-dietas">
        <table>
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Objetivo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">Sem dados disponíveis</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>