/* Estilo geral da fonte */
* {
    font-family: Open Sans, sans-serif; /* Adicionei fallback */
}

/* Corpo da página */
body {
    margin: 0;
    display: flex;
    height: 100vh;
    position: relative;
}

/* Estilo do cabeçalho */
header {
    position: absolute;
    width: 100vw;
    background: url('../../../public/Rectangle20.png') no-repeat center center / cover;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}

header img {
    max-width: 30%;
    height: auto;
    margin: 0 3vw;
}

/* Estilo de navegação */
.menu nav {
    display: flex;
    align-items: center;
}

.menu nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu nav ul li a {
    text-decoration: none;
    font-size: 2vh;
    color: #616161;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo principal do conteúdo */
.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 5;
    margin-left: 10vw;
    margin-top: 10vw;
}

/* Estilo da imagem de fundo */
/* Estilo do elemento de fundo */
.background {
    width: 70vw; /* Exibe apenas 70% da largura da tela */
    height: 100vh; /* Ocupa 100% da altura da tela */
    background-image: url('../../../public/Wallpaper_.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed; /* Usa position fixed para fixar o fundo no lugar */
    top: 0;
    left: 0; /* Posiciona a imagem à esquerda */
    z-index: -1; /* Coloca a imagem abaixo de todo o conteúdo */
}

/* Estilo do formulário */
form {
    width: 100%;
    max-width: 500px;
    position: relative;
    z-index: 9999;
}

form label {
    font-size: 2vh;
}

/* Estilo das seções de assinatura */
.text_assinatura {
    margin-top: 4vh;
}

.text_assinatura input[type="submit"] {
    font-size: 2vh;
    min-width: 80%;
    min-height: 4vh;
    border: 1px solid green;
    padding: 5px;
    border-radius: 10px;
    background-color: darkgreen;
    color: white;
    outline: none;
}

.text_assinatura a {
    color: darkgreen;
}

/* Estilização do formulário de assinatura */
#assinature {
    max-width: 40vw;
}

#assinature h1 {
    font-size: 4vh;
}

#assinature form {
    max-width: 20vw;
    border: 1px solid lightgreen;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo de títulos */
.assinatura_form h4 {
    color: silver;
}

/* Estilo das listas */
.assinatura_form nav {
    text-align: left;
}

.assinatura_form nav ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.assinatura_form nav ul li {
    margin-bottom: 5px;
}

/* Removida a redundância do seletor para 'nav ul li a' */
