<app-header></app-header>
<section>
    <div class="background"></div>
    <div>
        <h1 class="titulo_plano">Confira nosso Plano de Assinatura</h1>
        <form class="assinatura_form">
            <div id="assinature">
                <p class="meses-plano font-weight-bold">6 meses</p>
                <hr>
                <h2 class="font-weight-bold valor-mensal">R$ 45,00</h2>
                <p class="txt-mensal">Mensal</p>
    
                <nav>
                    <ul>
                        <li>Consultas com Nutricionistas</li>
                        <li>Gerar cardápios ilimitados</li>
                        <li>Desconto em produtos</li>
                    </ul>
                </nav>
    
                <!-- Botão de envio -->
                <div class="text_assinatura">
                    <input type="submit" value="Obter" />
                </div>
            </div>
        </form>
    </div>
</section>