<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="assinatura.component.css" media="screen" />
    <title>Assinaturas</title>
  </head>
  <body>
    <header class="menu">
        <img src="../../assets/files/Features.png" alt="Features">
        <nav>
            <ul>
                <li><a href="../../index.html">Sobre Nós</a></li>
                <li><a href="#contact">Recursos</a></li>
                <li><a href="../assinatura/assinatura.component.html" id="assinatura">Assinatura</a></li>
            </ul>
        </nav>
    </header>    
    
    <div class="background"></div>
    
    <main class="content">
        <section id="form3">
            
        <h1>Confira nosso Plano de Assinatura</h1>
        <form class="assinatura_form">
            <h3>6 meses</h3>

            <h2>R$ 45,00</h2>
            <h4>Mensal</h4>

            <nav>
                <ul>
                    <li>
                        Consultas com Nutricionistas
                    </li>
                    <li>
                        Gerar cardápios ilimitados
                    </li>
                    <li>
                        Desconto em produtos
                    </li>
                </ul>
            </nav>

            <div class="text_login">
                <input type="submit" value="Obter">
            </div>
        </form>

        <div class="text_login">
            <label>Já é assinante? </label><a href="../login/login.component.html" id="voltarLoginAssinatura">Entrar</a>
        </div>
        </section>

    </main>

  </body>
</html>
