* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    position: relative;
}

.background {
    width: 70vw;
    /* Exibe apenas 70% da largura da tela */
    height: 100vh;
    /* Ocupa 100% da altura da tela */
    background-image: url('../../../public/Wallpaper_.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    /* Posiciona o fundo de forma absoluta */
    top: 0;
    right: 0;
    /* Alinha a imagem à direita */
    z-index: 1;
    /* Fundo fica abaixo do conteúdo */
}

#login {
    width: 40%;
    height: 22.5rem;
    position: absolute; /* Posiciona o formulário sobre a imagem */
    z-index: 9; /* Garante que o formulário fique sobre a imagem */
    background-color: rgba(255,255,255, 0.8); /* Fundo semitransparente para destacar o formulário */
    border-radius: 10px;
    top:7rem;
    bottom: 0;
    left: 0;
    right: 40rem;
    margin: auto;
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#login h1 {
    text-align: center;
    font-size: 4vh;
  }

.text_login {
    margin-top: 4vh;
}

.text_login_submit {
    display: flex;
    justify-content: center;
    /* Centraliza o conteúdo */
}

.text_login_submit input[type="submit"] {
    font-size: 2vh;
    min-width: 60%;
    min-height: 4vh;
    border: 1px solid;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    background-color: #387c4c;
    border-color: #387c4c;
    color: white;
    margin-top: 1.5rem;
}

.text_login input[type="userId"],
.text_login input[type="password"] {
    width: 100%;
    min-height: 3.3vh;
    border: 1px solid lightgrey;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

.text_login a {
    color: #387c4c;
}

.errorMsg { 
    margin-top: 10px;
    font-weight: 400;
    color: #ff0000;
  }