<app-header-geral></app-header-geral>
<section>
    <div class="background"></div>
    <form id="login">
        <h1 class="font-weight-bold">Entrar</h1>
        <!-- Campo de entrada de email -->
        <div class="text_login">
            <label for="email">Login</label><br>
            <input type="email" id="email" placeholder="abc@gmail.com">
        </div>

        <!-- Campo de entrada de senha -->
        <div class="text_login">
            <label for="password">Senha</label><br>
            <input type="password" id="password" placeholder="...........">
        </div>

        <!-- Link para recuperação de senha -->
        <div class="text_login">
            <a href="#">Esqueceu sua senha?</a>
        </div>

        <!-- Botão de envio do formulário -->
        <div class="text_login_submit">
            <input type="submit" value="Concluído">
        </div>
    </form>
</section>