main {
    flex: 1;;
    display: flex;
    columns: 2;
    justify-content: center;
    position: relative;
    z-index: 5; /* O z-index está bem aqui para a estrutura */
    margin-left: 10vw; /* Ajusta a posição */
    margin-top: 5vw;
}

main h1,h2,p{
    font-family: 'Poppins', sans-serif;
}

main img{
    width: 40vw;
    margin-top: 2.2vw;}

main section{
    margin-top: 5vw;
    width: 40vw;
}

main h1{
    font-size: 1.75rem;
    padding-bottom: 1.25rem;
    font-weight: bold;
}

main p{
    font-size: 1rem;
}

section{
    text-align: justify;
}

div{
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
}

div input[type="submit"]{
    margin-top: 1vw;
    font-size: 1rem;
    background-color: #32794F;
    padding: 1.5rem;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
}