<app-header-geral></app-header-geral>
<!-- Conteúdo principal -->
<main class="content">
    <!-- Imagem representativa da página -->
    <img src="nutricionista_page.png" alt="Imagem de nutricionista" />

    <!-- Seção informativa sobre consulta -->
    <section>
        <h1>Agende sua consulta com um dos nossos nutricionistas!</h1>
        <p>
            Receba sugestões de ajustes na sua dieta criadas por uma inteligência artificial que analisa seus hábitos,
            evolução e preferências, potencializando os resultados ao longo do acompanhamento.
        </p>
        <p>
            Cuide da sua saúde no ambiente em que se sente mais à vontade. Segurança e conforto na palma da sua mão!
        </p>

        <!-- Botão de agendamento -->
        <div>
            <input  routerLink="/agenda_nutricionista" type="submit" value="Agendamento Online" />
        </div>
    </section>
</main>