<section class="info_section layout_padding2" id="footer">
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-6 col-lg-4 info_col ">
                <img src="NutrifAI Logo.png" alt="Logo NutrifAI">
            </div>
            <div class="col-md-6 col-lg-4 info_col">
                <div class="info_contact">
                    <h4 class="texto-verde-escuro">
                        Recursos
                    </h4>
                    <div class="contact_link_box">
                        <span class="item-footer">
                            Gerador de cardápio
                        </span>
                        <span class="item-footer">
                            Receitas
                        </span>
                        <span class="item-footer">
                            Contato com nutricionista
                        </span>
                        <span class="item-footer">
                            Plano de assinatura
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 info_col">
                <div class="info_detail">
                    <h4 class="texto-verde-escuro">
                        Empresa
                    </h4>
                    <p>
                        Sobre nós
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>