<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="diet.component.css" media="screen" />
    <title>Dieta de Baixo Carboidrato</title>
  </head>
  <body>
    <header class="menu">
        <img src="Features.png" alt="Features">
        <nav>
            <ul>
                <li><a href="" class="link active">Sobre Nós</a></li>
                <li><a href="">Recursos</a></li>
                <li><a href="">Assinatura</a></li>
            </ul>
        </nav>
    </header>    
       
        <main class="content">
            <h1>
                Deita de Baixo Carboidrato
            </h1>

            <section id="infos">

                <div class="conteudo_comida">
                    <h2>
                        Café da manhã
                    </h2>
                    <ul>
                        <li>
                            Omelete (2 ovos) com espinafre, queijo e abacate (~350 kcal) ou 
                        </li>
                        <li>
                            Iogurte grego (150g) com 1 colher de sopa de linhaça e framboesas (~300 kcal) ou 
                        </li>
                        <li>
                            Smoothie de leite de amêndoas (200 ml), 5 morangos e 1 colher de chá de manteiga de amendoim (~250 kcal)
                        </li>
                    </ul>
                </div>

                <div class="conteudo_comida">
                    <h2>
                        Almoço
                    </h2>
                    <ul>
                        <li>
                            Frango grelhado (120g) com salada de folhas verdes e azeite (~400 kcal) ou
                        </li>
                        <li>
                            Peixe grelhado (120g) com aspargos e espinafre refogado (~350 kcal) ou 
                        </li>
                        <li>
                            Salada de atum (1 lata) com alface, tomate e abacate (~400 kcal)
                        </li>
                    </ul>
                </div>
                
                <div class="conteudo_comida">
                    <h2>
                        Jantar
                    </h2>
                    <ul>
                        <li>
                            Salmão grelhado (120g) com brócolis e azeite (~350 kcal) ou
                        </li>
                        <li>
                            Carne moída refogada (100g) com abobrinha e couve-flor (~400 kcal) ou
                        </li>
                        <li>
                            Frango desfiado (120g) com abóbora assada e cenoura (~350 kcal)
                        </li>
                    </ul>
                </div>

                <div class="conteudo_comida">
                    <h2 class="details">
                        Aproximadamente 1064 kcal por dia
                    </h2>
                </div>
                
            </section>

            <h3>
                A inteligência artificial pode cometer erros; por isso, é sempre aconselhável consultar um nutricionista.
            </h3>

        </main>
  </body>
</html>
