/* Estilo da seção de informações */
#infos {
    border: 1px solid lightgreen;
    border-radius: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    /* Sombra preta com 50% de opacidade */
    background-color: white;
    width: 100%;
}

/* Estilo dos detalhes */
.details {
    font-size: 1rem;
    margin-top: 2vw;
}

.section {
    top: 9rem;
    position: relative;}

/* Estilos da div content */
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;
    padding: 2rem;
    height: 25rem;

}

.details {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

h1 {
    text-align: center;
    /* Centraliza o título principal */
    margin-bottom: 30px;
}

p {
    text-align: center;
    font-style: italic;
    margin-top: 30px;
}

h2 {
    font-size: 1.5rem;
}