<app-header-geral></app-header-geral>
<section class="container section">
  <section class="content-dietas">
    <h1>Dietas geradas por Inteligência Artificial</h1>

    <div class="btn-right-align">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalGerarDieta">
        Gerar nova dieta
      </button>
    </div>

    <div id="infos-dietas">
      <table>
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Data de criação</th>
            <th>Objetivo</th>
          </tr>
        </thead>
        <tbody>
          @for(dieta of dietas(); track $index) {
          <tr (click)="viewDiet(dieta)">
            <td>{{ dieta.title }}</td>
            <td>{{ dieta.creationDate | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ dieta.goal }}</td>
          </tr>
          }@empty {
          <tr>
            <td colspan="3">Nenhuma dieta cadastrada, utilize o botão "Gerar nova dieta"</td>
          </tr>
          }

        </tbody>
      </table>
    </div>
  </section>

  <div class="modal fade" #modalDieta tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="dieta">
          <h1>{{ dietaSelecionada().title }}</h1>

          @for(meal of dietaSelecionada().meals; track $index) {
          <div>
            <h3>{{ meal.refeicao }} ({{ meal.calorias }} kcal)</h3>

            <ul>
              @for(alimento of meal.alimentos; track $index) {
              <li>{{ alimento.alimento }} - {{ alimento.quantidade }} ({{alimento.calorias }} kcal)</li>
              }
            </ul>
          </div>
          }

        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" #modalGerarDieta id="modalGerarDieta" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="column" id="main">
            <h1 class="font-weight-bold">Gerar Cardápio</h1>
            <form [formGroup]="dietForm" (submit)="onSubmit(); $event.preventDefault()">
              <div class="row">
                <div class="col-sm">
                  <div class="form-group">
                    <label for="idade">Idade <span class="text-danger">*</span></label>
                    <input type="number" formControlName="idade" class="form-control" id="idade" placeholder="18">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-group">
                    <label for="sexo">Sexo <span class="text-danger">*</span></label>
                    <select formControlName="sexo" class="form-control" id="sexo">
                      <option value="" disabled selected>Selecione</option>
                      <option value="masculino">Masculino</option>
                      <option value="feminino">Feminino</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-group">
                    <label for="altura">Altura <span class="text-danger">*</span></label>
                    <div class="input-group">
                      <input type="number" formControlName="altura" class="form-control" id="altura" placeholder="1,70">
                      <span class="unidade">m</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <div class="form-group">
                    <label for="objetivo">Objetivo <span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="objetivo" id="objetivo">
                      <option value="" disabled selected>Selecione</option>
                      <option value="Manter Peso">Manter Peso</option>
                      <option value="Perder Peso">Perder Peso</option>
                      <option value="Ganhar Massa Muscular">Ganhar Massa Muscular</option>
                      <option value="Reeducação Alimentar">Reeducação Alimentar</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-group">
                    <label for="peso">Peso Atual <span class="text-danger">*</span></label>
                    <div class="input-group">
                      <input type="number" formControlName="peso" class="form-control" id="peso" placeholder="75,40">
                      <span class="unidade">kg</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <div class="form-group">
                    <label for="atividadeFisica">Nível de Atividade Física <span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="nivel_atividade" id="atividadeFisica">
                      <option value="" disabled selected>Selecione</option>
                      <option value="sedentario">Sedentário</option>
                      <option value="moderado">Moderado</option>
                      <option value="ativo">Ativo</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-group">
                    <label for="refeicoes">Refeições por dia <span class="text-danger">*</span></label>
                    <input type="number" formControlName="refeicoes_diarias" class="form-control" id="refeicoes"
                      placeholder="3">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="condicaoSaude">Condição de Saúde Diagnosticada</label>
                <input type="text" formControlName="condicao_saude" class="form-control" id="condicaoSaude"
                  placeholder="Condição de Saúde Diagnosticada">
              </div>
              <div class="form-group">
                <label for="intolerancia">Possui Intolerância</label>
                <input type="text" formControlName="alergia" class="form-control" id="intolerancia"
                  placeholder="Possui Intolerância">
              </div>
              <button type="submit" class="btn btn-primary">Confirmar</button>

              @if(errorMessage()) {
              <div class="errorMsg">
                {{ errorMessage()}}
              </div>
              }
            </form>
          </div>
          <div>
            <svg id="svg" width="67px" height="578" viewBox="0 0 67 578" version="1.1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="M11.3847656,-5.68434189e-14 C-7.44726562,36.7213542 5.14322917,126.757812 49.15625,270.109375 C70.9827986,341.199016 54.8877465,443.829224 0.87109375,578 L67,578 L67,-5.68434189e-14 L11.3847656,-5.68434189e-14 Z"
                id="Path" fill="#ddf7e3"></path>
            </svg>
          </div>
          <div class="column" id="secondary">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>