<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Link para o arquivo de estilos externos -->
    <link rel="stylesheet" type="text/css" href="agenda-nutricionista.component.css" media="screen" />
    <title>Nutricionista</title>
  </head>
  <body>
    
    <!-- Cabeçalho com logotipo e menu de navegação -->
    <app-header-geral></app-header-geral>

    <!-- Conteúdo principal -->
    <app-select-nutri></app-select-nutri>
    
  </body>
</html>
