<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Link para o arquivo de estilos externos -->
    <link rel="stylesheet" type="text/css" href="agenda-nutricionista.component.css" media="screen" />
    <title>Nutricionista</title>
  </head>
  <body>
    <!-- Cabeçalho com logotipo e menu de navegação -->
    <header class="menu">
        <img src="Features.png" alt="Features" />
        <nav>
            <ul>
                <li><a href="" class="link active">Sobre Nós</a></li>
                <li><a href="">Recursos</a></li>
                <li><a href="">Assinatura</a></li>
            </ul>
        </nav>
    </header>    
    
    <!-- Conteúdo principal -->
    <main class="content">
        
        <section class="data">
            <H1>ESCOLHER DATA</H1>
            <datepicker-touch-example></datepicker-touch-example>
        </section>
        
        <!-- Seção informativa sobre consulta -->
        <section class="nutricionista">
            <H1>ESCOLHER NUTRICIONISTA</H1>    
        </section>
    </main>
  </body>
</html>
