
    <!-- Cabeçalho com logotipo e menu de navegação -->
    <app-header-geral></app-header-geral>
    <section class="container distancia">
        <h1 class="tituloParceiros">Nutricionistas Parceiros</h1>
        <div class="row align-items-center">
          <div class="row">
            <div class="candidates-listing-item">
              <div class="list-grid-item mt-4 p-2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="candidates-img float-left mr-4">
                      <img src="nutriImage1.png" alt="" class="img-fluid d-block rounded imgBorder">
                    </div>
                    <div class="candidates-list-desc job-single-meta  pt-2">
                      <h5 class="mb-2 f-19">Bruna Garcia</h5>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-4">
                          <p class="f-15 mb-0 text-muted"><i class="mdi mdi-map-marker mr-1"></i>São Bernardo do Campo </p>
                        </li>
                        <li class="list-inline-item">
                          <p class="text-muted f-15 mb-0"><i class="mdi mdi-currency-usd mr-1"></i>R$ 150,00 / Consulta</p>
                        </li>
                      </ul>
                      <p class="text-muted mt-1 mb-0"><i class="mdi mdi-phone mr-1"></i>(11) 98765-4321</p>
                    </div>
                  </div>
                </div>
      
                <div class="row">
                  <div class="candidates-item-desc">
                    <hr>
                    <p class="text-muted mb-2 f-14">Cuide da sua saúde com acompanhamento personalizado! Sou Bruna Garcia,
                      nutricionista em São Bernardo do Campo, especialista em criar planos alimentares que atendem às suas
                      necessidades e objetivos. Com consultas a apenas R$150/hora, ofereço suporte para validar e ajustar os
                      cardápios gerados pela IA da NutrifAI, garantindo que estejam alinhados com sua saúde e bem-estar.
                      Agende já pelo WhatsApp: (11) 98765-4321 e dê o primeiro passo para uma vida mais saudável!</p>
                  </div>
                </div>
              </div>
      
      
              <div class="list-grid-item mt-4 p-2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="candidates-img float-left mr-4">
                      <img src="nutriImage2.png" alt="" class="img-fluid d-block rounded">
                    </div>
                    <div class="candidates-list-desc job-single-meta  pt-2">
                      <h5 class="mb-2 f-19">Paulo Souza</h5>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-4">
                          <p class="f-15 mb-0 text-muted"><i class="mdi mdi-map-marker mr-1"></i>Santo André</p>
                        </li>
                        <li class="list-inline-item">
                          <p class="text-muted f-15 mb-0"><i class="mdi mdi-currency-usd mr-1"></i>R$ 110,00 / Consulta</p>
                        </li>
                      </ul>
                      <p class="text-muted mt-1 mb-0"><i class="mdi mdi-phone mr-1"></i>(11) 91234-5678</p>
                    </div>
                  </div>
                </div>
      
                <div class="row">
                  <div class="candidates-item-desc">
                    <hr>
                    <p class="text-muted mb-2 f-14">Transforme sua alimentação com suporte profissional! Sou Paulo Souza,
                      nutricionista em Santo André, dedicado a ajudar você a alcançar seus objetivos com saúde e equilíbrio.
                      Ofereço consultas por apenas R$110/hora, validando e ajustando os cardápios gerados pela IA da NutrifAI
                      para atender suas necessidades individuais. Entre em contato pelo WhatsApp: (11) 91234-5678 e comece
                      hoje mesmo sua jornada para uma vida mais saudável!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>