<main class="content">
        
    <section class="data">
        <H1>Escolher Data</H1>
        <datepicker-touch-example></datepicker-touch-example>
    </section>
    
    <!-- Seção informativa sobre consulta -->
    <section class="nutricionista">

        <H1>Agendamento Online</H1> 
        
     <!-- NAV Responsável por armazenar FOTO e NOME de profissional -->
        <nav class="dados_nutricionistas">
          <ul>
            <li><img src="nutricionista_1.png" class="img_nutricionistas"></li>
            <li><label>Bruna Garcia</label></li>
          </ul>
        </nav>

     <!-- NAV Responsável por exibir o horário de atendimento dos profissionais -->
        <dialog-animations-example></dialog-animations-example>
        
        
    </section>
</main>