<section class="layout_padding">
    <div class="row align-items-center cadastro_section ">
        <div class="col-md-9 text-left">
            <h2 class="titulocadastro">
                Não sabe qual o plano alimentar ou a dieta ideal para você?
            </h2>
            <button type="button" class="btn btn-success btnCadastrarAdd">Cadastre-se agora</button>
        </div>
        <div class="col-md-3 text-right">
            <img class="imgInterrogacao" src="interrogacao.png" alt="Ponto de interrogação">
        </div>
    </div>
</section>