<section class="about_section layout_padding">
    <div class="container mx-auto">
        <div class="heading_container">
            <h2 class="txt-vida">Por que ter uma vida</h2>
            <h2 class="txt-saudavel">Saudável</h2>
        </div>
        <div class="row conteudo-saudavel">
            <div class="col-md-6">
                <div class="detail-box">
                    <ul class="lista-saudavel">
                        <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                alt="Simbolo de Correto"> Mais energia e vitalidade</li>
                        <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                alt="Simbolo de Correto"> Equilíbrio mental</li>
                        <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                alt="Simbolo de Correto"> Vida longa e plena</li>
                        <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                alt="Simbolo de Correto"> Controle de peso</li>
                        <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                alt="Simbolo de Correto"> Confiança e autoestima</li>
                        <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                alt="Simbolo de Correto"> Redução de estresse</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="vidaSaudavel.png" alt="Imagem Vida Saudável">
                </div>
            </div>
        </div>
    </div>
</section>