<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="home.component.css">
    <title>Ludiflex | Login & Registration</title>
</head>
<body>
    <div class="hero_area" id="inicioHome">
        <div class="hero_bg_box">
            <div class="bg_img_box">
                <img src="FundoVerde.png" alt="">
            </div>
        </div>
        <nav class="nav">
            <div class="nav-logo">
                <img src="NutrifAI Logo.png" alt="Logo da NutrifAI">
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="index.html#inicioHome" class="link active">Home</a></li>
                    <li><a href="#" class="link">Sobre</a></li>
                    <li><a href="index.html#footer" class="link">Recursos</a></li>
                </ul>
            </div>
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="login()">Entrar</button>
                <button class="btn" id="registerBtn" onclick="register()">Cadastrar</button>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>
        <section class="healthyLifeSection container">
            <div class="initialDiv">
                <h1 font-weight-bold><span class="text-danger">Vida</span>
                    Saudável ao seu alcance</h1>
                <button type="button" class="btn btn-success btnCadastrar vertical-center">Cadastre-se</button>
                <p class="textoCadastro">Crie seu cadastro e comece agora mesmo!</p>
            </div>
            <img class="imgCadastro" src="Home Image 1.png" alt="Prato de Comida">
        </section>
    </div>
    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="heading_container">
                <h2 class="txt-vida">Por que ter uma vida</h2>
                <h2 class="txt-saudavel">Saudável</h2>
            </div>
            <div class="row conteudo-saudavel">
                <div class="col-md-6">
                    <div class="detail-box">
                        <ul class="lista-saudavel">
                            <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                    alt="Simbolo de Correto"> Mais energia e vitalidade</li>
                            <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                    alt="Simbolo de Correto"> Equilíbrio mental</li>
                            <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                    alt="Simbolo de Correto"> Vida longa e plena</li>
                            <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                    alt="Simbolo de Correto"> Controle de peso</li>
                            <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                    alt="Simbolo de Correto"> Confiança e autoestima</li>
                            <li class="item-lista"><img class="simboloLista" src="Vector.png"
                                    alt="Simbolo de Correto"> Redução de estresse</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="vidaSaudavel.png" alt="Imagem Vida Saudável">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="layout_padding">
        <div class="heading_container heading_center recursos_section col-md-12">
            <h2 class="tituloRecursos">
                Nossos recursos oferecem
            </h2>
            <p class="txtRecursos">
                Construa hábitos mais saudáveis com orientações personalizadas
            </p>
            <div class="row linhas-recursos">
                <div class="col-md-4">
                    <p><img src="apple 1.png" alt="Imagem de Maçã"> Perda de peso</p>
                </div>
                <div class="col-md-4">
                    <p><img src="banana 1.png" alt="Imagem de Maçã"> Ganho de peso</p>
                </div>
                <div class="col-md-4">
                    <p><img src="avocado 1.png" alt="Imagem de Maçã"> Manter o pedo ideal</p>
                </div>
            </div>
        </div>
    </section>
    <section class="team_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Adote <img src="NutrifAI Logo.png" alt="NutrifAI"> em sua rotina!
                </h2>
            </div>

            <div class="team_container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="salada.png" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5 class="titulo-rotina">
                                    Encontre a dieta ideal para você
                                </h5>
                                <p class="texto-rotina">
                                    Encontre uma dieta nutritiva que se encaixa no seu estilo de vida e preferências
                                    alimentares. Assuma o controle dos seus hábitos diários com a ajuda da nossa IA, que
                                    cria cardápios personalizados e oferece acesso fácil à nutrição.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="frutas.png" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5 class="titulo-rotina">
                                    Tenha uma dieta sustentável
                                </h5>
                                <p class="texto-rotina">
                                    Nossa IA cria cardápios sob medida para você e seleciona apenas marcas comprometidas
                                    com a sustentabilidade. Transforme sua alimentação com escolhas inteligentes e
                                    conscientes para um futuro mais verde.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="sucos.png" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5 class="titulo-rotina">
                                    Descubra e aprenda receitas
                                </h5>
                                <p class="texto-rotina">
                                    Explore uma variedade de opções e encontre pratos deliciosos e saudáveis, todos
                                    adaptados às suas necessidades. Deixe que nossa tecnologia facilite suas escolhas
                                    culinárias e enriqueça seu cardápio com novas ideias saborosas e nutritivas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="vitaminas.png" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5 class="titulo-rotina">
                                    Comece sua jornada saudável!
                                </h5>
                                <p class="texto-rotina">
                                    Descubra uma maneira inovadora de transformar sua alimentação com o NutrifAl.
                                    Facilite suas escolhas alimentares e comece uma jornada mais saudável e consciente
                                    hoje mesmo!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="layout_padding">
        <div class="row align-items-center cadastro_section ">
            <div class="col-md-9 text-left">
                <h2 class="titulocadastro">
                    Não sabe qual o plano alimentar ou a dieta ideal para você?
                </h2>
                <button type="button" class="btn btn-success btnCadastrarAdd">Cadastre-se agora</button>
            </div>
            <div class="col-md-3 text-right">
                <img class="imgInterrogacao" src="interrogacao.png" alt="Ponto de interrogação">
            </div>
        </div>
    </section>
    <section class="what_section layout_padding">
        <div class="container  ">
            <h2>O que o <img src="NutrifAI Logo.png" alt="Logo NutrifAI"> será para você?</h2>
            <div class="row conteudo-saudavel">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="computadores.png" alt="Imagem Computadores">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="detail-box">
                        <ul class="lista-saudavel">
                            <li class="item-lista"><img class="simboloLista" src="Ellipse.png"
                                    alt="Simbolo de Elipse"> Gerador de dietas</li>
                            <li class="item-lista"><img class="simboloLista" src="Ellipse.png"
                                    alt="Simbolo de Elipse"> Banco de receitas</li>
                            <li class="item-lista"><img class="simboloLista" src="Ellipse.png"
                                    alt="Simbolo de Elipse"> Calculadora de calorias</li>
                            <li class="item-lista"><img class="simboloLista" src="Ellipse.png"
                                    alt="Simbolo de Elipse"> Facilitador de conexão com nutricionistas</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="nutri_section layout_padding">
        <div class="nutricionista_area">
            <div class="nutricionista_bg_box">
                <div class="bg_img_box">
                    <img src="area-verde.png" alt="">
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <!-- Usando justify-content e align-items -->
                    <div class="col-md-6"> <!-- Centraliza texto na coluna -->
                        <img class="texto-nutri" src="heading.png" alt="">
                        <p>Nossa equipe de nutricionistas especializados está aqui para ajudá-lo a alcançar seus
                            objetivos de saúde e bem-estar. Nossos nutricionistas são profissionais altamente treinados
                            e qualificados, com um profundo conhecimento da ciência da nutrição e de como ela pode
                            impactar seu corpo e mente.</p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <!-- Flexbox para alinhar verticalmente -->
                        <div class="img-box">
                            <img class="img-nutri" src="Nutricionista.png" alt="Imagem Nutricionista">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2 class="txt-invista">
                        Invista em você & potencialize sua <span class="texto-verde-escuro">saúde</span>, <span
                            class="texto-verde-escuro">corpo</span> e <span
                            class="texto-verde-escuro">autoconfiança</span>
                    </h2>
                </div>
                <div class="btn-box">
                    <a class="btn-success" href="">
                        Comece agora!
                    </a>
                </div>
                <div class="row invista-itens">
                    <div class="col-md-4 ">
                        <ul>
                            <li class="item-lista-invista"><img class="simboloLista" src="Vector.png"
                                    alt="Simbolo de Correto">Cadastro Rápido</li>
                        </ul>
                    </div>
                    <div class="col-md-4 ">
                        <ul>
                            <li class="item-lista-invista"><img class="simboloLista" src="Vector.png"
                                    alt="Simbolo de Correto"> Cancele a qualquer momento</li>
                        </ul>
                    </div>
                    <div class="col-md-4 ">
                        <ul>
                            <li class="item-lista-invista"><img class="simboloLista" src="Vector.png"
                                    alt="Simbolo de Correto">Personalização</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info_section layout_padding2" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 info_col ">
                    <img src="NutrifAI Logo.png" alt="Logo NutrifAI">
                </div>
                <div class="col-md-6 col-lg-4 info_col">
                    <div class="info_contact">
                        <h4 class="texto-verde-escuro">
                            Recursos
                        </h4>
                        <div class="contact_link_box">
                            <span class="item-footer">
                                Gerador de cardápio
                            </span>
                            <span class="item-footer">
                                Receitas
                            </span>
                            <span class="item-footer">
                                Contato com nutricionista
                            </span>
                            <span class="item-footer">
                                Plano de assinatura
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 info_col">
                    <div class="info_detail">
                        <h4 class="texto-verde-escuro">
                            Empresa
                        </h4>
                        <p>
                            Sobre nós
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        var a = document.getElementById("loginBtn");
        var b = document.getElementById("registerBtn");
        var x = document.getElementById("login");
        var y = document.getElementById("register");

        function login() {
            x.style.left = "4px";
            y.style.right = "-520px";
            a.className += " white-btn";
            b.className = "btn";
            x.style.opacity = 1;
            y.style.opacity = 0;
        }

        function register() {
            x.style.left = "-510px";
            y.style.right = "5px";
            a.className = "btn";
            b.className += " white-btn";
            x.style.opacity = 0;
            y.style.opacity = 1;
        }

    </script>

</body>