<div class="hero_area" id="inicioHome">
    <div class="hero_bg_box">
        <div class="bg_img_box">
            <img src="FundoVerde.png" alt="">
        </div>
    </div>
    <section class="healthyLifeSection container mx-auto">
        <div class="initialDiv">
            <h1><span class="text-danger">Vida</span> Saudável ao seu alcance</h1>
            <button type="button" class="btn btn-success btnCadastrar vertical-center">Cadastre-se</button>
            <p class="textoCadastro">Crie seu cadastro e comece agora mesmo!</p>
        </div>
        <img class="imgCadastro" src="Home Image 1.png" alt="Prato de Comida">
    </section>
</div>