<section class="what_section layout_padding">
    <div class="container mx-auto">
        <h2>O que o <img src="NutrifAI Logo.png" alt="Logo NutrifAI"> será para você?</h2>
        <div class="row conteudo-saudavel">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="computadores.png" alt="Imagem Computadores">
                </div>
            </div>

            <div class="col-md-6">
                <div class="detail-box">
                    <ul class="lista-saudavel">
                        <li class="item-lista"><img class="simboloLista" src="Ellipse.png"
                                alt="Simbolo de Elipse"> Gerador de dietas</li>
                        <li class="item-lista"><img class="simboloLista" src="Ellipse.png"
                                alt="Simbolo de Elipse"> Banco de receitas</li>
                        <li class="item-lista"><img class="simboloLista" src="Ellipse.png"
                                alt="Simbolo de Elipse"> Calculadora de calorias</li>
                        <li class="item-lista"><img class="simboloLista" src="Ellipse.png"
                                alt="Simbolo de Elipse"> Facilitador de conexão com nutricionistas</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>