<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="forget-password.component.css" media="screen" />
    <title>Esqueceu sua senha?</title>
  </head>
  <body>
    <header class="menu">
        <img src="Features.png" alt="Features">
        <nav>
            <ul>
                <li><a href="" class="link active">Sobre Nós</a></li>
                <li><a href="">Recursos</a></li>
                <li><a href="">Assinatura</a></li>
            </ul>
        </nav>
    </header>    
    
    <div class="background"></div>
    
    <main class="content">
        <!-- Formulário 1 (reset_pass) -->
        <section id="reset_pass">
            <h1>Esqueceu a Senha</h1>
            <h3>Digite o E-mail associado a sua conta</h3>

            <form>
                <div class="text_reset_pass">
                    <label>E-mail</label><br>
                    <input type="email" placeholder="abc@gmail.com">
                </div>
                <br>
                <div class="text_reset_pass_submit">
                    <input type="submit" value="Redefinir Senha">
                </div>
            </form>            
            <br>
            <h3>Em breve você receberá um email com mais instruções</h3>
        </section>
    </main>
  </body>
</html>
