<section class="layout_padding">
    <div class="heading_container heading_center recursos_section col-md-12">
        <h2 class="tituloRecursos">
            Nossos recursos oferecem
        </h2>
        <p class="txtRecursos">
            Construa hábitos mais saudáveis com orientações personalizadas
        </p>
        <div class="row linhas-recursos">
            <div class="col-md-4">
                <p><img src="apple 1.png" alt="Imagem de Maçã"> Perda de peso</p>
            </div>
            <div class="col-md-4">
                <p><img src="banana 1.png" alt="Imagem de Maçã"> Ganho de peso</p>
            </div>
            <div class="col-md-4">
                <p><img src="avocado 1.png" alt="Imagem de Maçã"> Manter o pedo ideal</p>
            </div>
        </div>
    </div>
</section>